/*
css中的注释，内容会被解析到css中

*/
.box1 {
  background-color: #bbffaa;
}
.box1 .box2 {
  background-color: #bbffaa;
}
.box1 .box2 .box4 {
  background-color: #bbffaa;
}
.box1 .box3 {
  background-color: #bbffaa;
}
.box5 {
  width: 100px;
  color: #bbffaa;
}
.box6 {
  width: 100px;
  background-image: url("box6/1.png");
}
div {
  width: 115px;
  height: 150px;
}
div {
  width: 300px;
  height: 300px;
}
