/* 公共样式 */
.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333333;
    /* 不让body过小，导致内容溢出 */
    min-width: 1226px;
    background-color: #bfa;
}

.w{
    /* 固定容器的宽度 */
    width: 1226px;
    /* 容器居中 */
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #424242;;
}